#projects {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
  font-size: 4em;
  text-align: center;
}

.cardDeck {
  padding-top: 10px;
  list-style: none;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: -webkit-inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.projectLink {
  cursor: pointer;
}

.card {
  background-color: #f9f9f9;
  width: 90vw;
  /* height: 500px; */
  display: block;
  margin-bottom: 40px;
  text-align: left;
  border: thin solid rgba(51,122,183,.1);
  border-radius: 5px;
  box-shadow: 0 12px 12px 0 #d3d3d3;
  box-sizing: border-box;
  overflow: hidden;
}

.cardImage {
  margin: 0;
}

.cardBody {
  padding: 15px;
  height: 50%;
}

.cardTitle {
  font-size: 1.5em;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .card {
    width: 20rem;
  }
}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1024px) {
  .card {
    position: relative;
    width: 20rem;
    height: 15rem;
  }

  .cardImage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .cardBody {
    position: absolute;
    bottom: -100%;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: all 0.5s ease-in;
  }

  .cardTitle {
    // position: absolute;
    // bottom: 0%;
    // color: white;
    // font-weight: bold;
  }

  .card:hover > .cardBody {
    bottom: 0%;
  }
}
@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 1488px) {

}
